.list {
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.list li {
  list-style: none;
}
.loadMoreBtn {
  display: flex;
  margin: 0 auto;
  border: 1px solid #dadde1;
  border-radius: 200px;
  padding: 16px 32px;
  width: 145px;
  height: 56px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: -0.01em;
  color: #101828;
  cursor: pointer;
  margin-top: 40px;
  margin-bottom: 52px;
}
.loadMoreBtn:hover {
  border: 1px solid #d84343;
}
