.catalog_id {
  width: 1312px;
}
.list_photo {
  display: flex;
  gap: 48px;
}
.list_photo li {
  list-style: none;
}

.img img {
  display: block;
  height: 312px;
  width: 292px;
  border-radius: 10px;
}
.tabs button {
  border: none;
  background-color: inherit;
}
.tabs button:hover {
  cursor: pointer;
  text-decoration: underline;
  text-decoration-color: red;
  font-weight: 700;
}
.catalog_cont {
  padding: 48px 64px 80px 64px;
}
.second_string {
  padding: 8px;
  display: flex;
  gap: 16px;
  justify-content: start;
  align-items: center;
}
.icon {
  fill: #101828;
  width: 20px;
  height: 20px;
}
.icon_input {
  width: 16px;
  height: 16px;
  fill: #101828;
}
