.searchBar {
  display: flex;
  flex-direction: column;
  margin-top: 48px;
  margin-left: 64px;
  max-width: 360px;
}
.filter_location {
  display: flex;
  flex-direction: column;
}
.filter_location label {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #6c717b;
}
.filter_location input {
  border-radius: 12px;
  padding: 18px 218px 18px 20px;
  width: 360px;
  height: 56px;
  background-color: #f7f7f7;
}

.inputWrapper {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
}

.inputWrapper input {
  width: 100%;
  padding: 10px 40px 10px 35px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.icon_input {
  position: absolute;
  right: 330px;
  width: 20px;
  height: 20px;
  fill: #101828;
  pointer-events: none;
}

.filter_vahicle {
  margin-top: 40px;
}
.vehicleTypeButtons,
.equipmentButtons {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.vehicleTypeButtons button,
.equipmentButtons button,
.transmission button {
  border: 1px solid #dadde1;
  border-radius: 12px;
  padding: 16px 18px;
  width: 112px;
  height: 96px;
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: -0.01em;
  text-align: center;
  color: #101828;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4px;
  box-sizing: border-box;
}

.vehicleTypeButtons button.active,
.equipmentButtons button.selected,
.transmission button.selected {
  border: 1px solid #e44848;
}

.filter_title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: #475467;
  margin-bottom: 32px;
}
.filterSection {
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
  color: #101828;
}
.filterSection label {
  display: block;
  margin-bottom: 48px;
  margin-top: 32px;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 200px;
  width: 173px;
  height: 56px;
  background-color: #e44848;
  border: none;
  font-weight: 500;
  font-size: 16px;
  text-align: center;
  letter-spacing: -0.01em;
  color: #fff;
  text-decoration: none;
  transition: transform 0.3s ease;
  margin-top: 40px;
  cursor: pointer;
}

.button:hover:focus {
  background-color: #d84343;
  color: #fff;
  transform: scale(1.1);
}
.ul {
  display: flex;
  flex-wrap: wrap;

  gap: 8px;
  margin-top: 24px;
  padding-left: 0px;
}
.ul li {
  list-style: none;
}
.ul_li {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 100px;
  padding: 12px 18px;
  width: 143px;
  height: 48px;
  background-color: #f2f4f7;
  text-align: center;
  color: #101828;
}
.icon {
  fill: #101828;
  width: 32px;
  height: 32px;
}
